<div class="container">
    <div class="gcse-search"
        data-autoCompleteMaxCompletions="5"
        data-autoCompleteMatchType='any'
        data-queryParameterName="запит">
    </div>
    <script src="https://cse.google.com/cse.js?cx=51267063565d0bcb8" async></script>
</div>