html { min-height: 100%; font-size: calc(16px + 0.25vw) !important;
  body {
    & a {
      color: #231F20; text-decoration: none;
      &:hover { color: #6A7796; text-decoration: underline; }
      &:active { color: #6A7796; text-decoration: none; }
    }
    & img { max-width: 100%; margin: 0 auto; display: block; }
    & h1, & h2, & article p, #cloud { font-weight: 500; font-family: 'Lora', serif; }
    /*
    .share { top: 12px; right: calc(1px + 0.5vw); z-index: 100;
      .fb-like { display: block;
        & span { width: auto !important; display: block;
          & iframe { width: 220px !important; position: static !important; }
        }
      }
    }
    */
    & nav {
      & div.header { display: flex;
        position: fixed; top: 0.8em; left: 0.8em; z-index: 1035;
        & a.logo { 
          background-color: #ff0000; overflow: hidden; 
          border: solid 1px #ff8888; border-radius: 0;
          padding: 0 .25em; opacity: 0.75;
          img { width: 2.5em; }
          &:hover { opacity: 1.0; box-shadow: 1px 1px 3px #000; }
        }
        & a.button { width: 37px; height: 37px;
          border: solid 2px #000; border-radius: 0;
          background-image: url(/menu.svg); background-size: 70px 70px;
          background-position: -18px -18px; background-color: #fff;
          margin-left: 1vw; opacity: 0.25;
          &:hover { opacity: 0.5; box-shadow: 1px 1px 3px #000; }
        }
      }
      & div.menu {
        & div.offcanvas-body { padding: 0 !important;
          & div.list-group {
            & a.list-group-item {
              color: #666; font-size: 1.5em; font-weight: bold; letter-spacing: 0.1em;
              text-transform: uppercase; border: 0; padding: 0 0 0 2em;
              &:hover {
                color: #000; text-decoration: none !important; background-color: #eee;
              }
            }
          }
        }
      }
    }
    & main { min-height: 60vh;
      & > h1 { font-size: 1.5em; margin: 3em auto 1em !important; }
      &#home {
        .carousel {
          .carousel-inner {
            .carousel-item {
              min-height: 70vh; line-height: 100vh; overflow: hidden; position: relative;
              & img { object-fit: cover; z-index: -1; }
              .carousel-caption {
                max-width: 70%; line-height: 100%; font-family: 'Open Sans', sans-serif; 
                h2 { 
                  font-size: 4em; text-shadow: 1px 1px 1px #000; line-height: 125%;
                }
              }
            }
          }
        }
        #posts { margin: 3em auto 6em;
          & h3 { font-size: 1.5em; margin-bottom: 2em; }
          & .card { 
            & .card-body { height: 12em; }
          }
          & .pagination { justify-content: center; }
        }
      }
      /*
      &#post-list {
        & ul { max-width: 640px;
          & li { line-height: 180%;
            & a.title {
              &.text { font-weight: bold; }
              &:before { content: "•"; margin-right: 10px; }
            }
            & a.badge { visibility: hidden; }
            &:hover a.badge {
              color: #666; font-weight: 300; visibility: visible; &:hover { color: #000; }
            }
            &.level-0 { font-size: 1.2rem; a.title { padding-left: 0; }}
            &.level-1 { font-size: 1.1rem; a.title { padding-left: 10px; }}
            &.level-2 { font-size: 1.0rem; a.title { padding-left: 20px; }}
            &.level-3 { font-size: 0.9rem; a.title { padding-left: 30px; }}
            &.level-4 { font-size: 0.8rem; a.title { padding-left: 40px; }}
            &.level-5 { font-size: 0.7rem; a.title { padding-left: 50px; }}
          }
        }
      }
      */
      &#posts-view {
        & p.tags { max-width: 768px; font-size: 0.8em; margin: 2em auto;
          & a { font-style: italic; text-transform: lowercase; }
        }
      }
      /*
      &#search {
        .container { max-width: 960px;
          #___gcse_0 {
            .gs-web-image-box, .gs-promotion-image-box { width: auto; }
            .gs-web-image-box .gs-image, .gs-promotion-image-box .gs-promotion-image { max-width: 320px; max-height: 240px; }
            .gsc-control-cse, .gsc-control-cse .gsc-table-result { font-size: 0.9rem; line-height: 150%; }
          }
        }
      }
      */
      /*
      #comments { max-width: 960px; }
      #more { max-width: 960px;
        .post {
          width: 318px; height: 200px; margin: 1px; 
          background-position: center; background-size: cover;
          & a { font: 700 36px 'Lora', serif; text-shadow: 1px 1px 1px black; 
            span { line-height: 200px; }
          }
        }
      }
      */
      & #article {
        & div.content {
          & a.button { 
            position: fixed; top: 0.1em; right: 0.1em; z-index: 1025;
            & img { width: 3em; }
          }
          & div.menu {
            & div.offcanvas-body { padding: 0 !important;
              & div.list-group {
                & a.list-group-item {
                  color: #666; font-size: 1.3em; font-weight: normal; letter-spacing: 0;
                  text-transform: uppercase; padding: 0.1em 0.1em 0.1em 2em;
                  &:hover { color: #000; text-decoration: none !important; background-color: #eee; }
                }
              }
            }
          }
        }
      }
      .label { 
        text-align: left; margin: 0 auto;
        & a, & span { 
          color: #fff; font: 300 1em/1 'Open Sans', 'Ubuntu', sans-serif; 
          text-transform: uppercase; background-color: #f00;
          border-left: solid 5px #800;padding: .25em .5em;
        }
      }
      .cloud {
        max-width: 960px; line-height: 500%; margin: 15vh auto;
        & a { line-height: 150%;
          &.size-1 { font-size: 3.0em; margin: 12px 25px; }
          &.size-2 { font-size: 2.8em; margin: 9px 20px; }
          &.size-3 { font-size: 2.6em; margin: 9px 20px; }
          &.size-4 { font-size: 2.4em; margin: 6px 20px; }
          &.size-5 { font-size: 2.2em; margin: 6px 15px; }
          &.size-6 { font-size: 2.0em; margin: 6px 15px; }
          &.size-7 { font-size: 1.8em; margin: 3px 15px; }
          &.size-8 { font-size: 1.6em; margin: 3px 10px; }
          &.size-9 { font-size: 1.4em; margin: 3px 10px; }
        }
      }
      .card {
        width: 18em; border: none !important; position: relative; margin: 0 auto 1em;
        .card-img-top {
          width: 100%; padding-top: 66.66%; overflow: hidden; position: relative;
          border: none; border-radius: 0; box-shadow: none;
          & a.category { 
            color: white; font-size: 0.8em; font-weight: 300; 
            background-color: rgba(255,0,0,.75); text-decoration: none !important;
            padding: .1em .75em; position: absolute; top: .75em; left: 0; z-index: 1;
          }
          & img {
            min-width: 100%; min-height: 100%; max-width: 100%; margin: auto;
            position: absolute; top:-100%; left:-100%; right: -100%; bottom:-100%;
          }
          & span.date {
            color: white; font-size: 0.7em; font-weight: bold;
            background-color: rgba(0,0,0,.25); padding: .25em .5em; 
            position: absolute; bottom: 0; right: 0; z-index: 1;
          } 
        }
        .card-body {
          overflow: hidden; padding: 1em 0; margin-bottom: 1em;
          .card-title { line-height: 1.4; overflow: hidden; text-overflow: ellipsis; }
          .card-text { overflow: hidden; text-overflow: ellipsis; }
         }
      }
      & div.content {
        & a.button { 
          position: fixed; top: .1em; right: .1em; z-index: 1025;
          & img { width: 3em; }
        }
        & div.menu {
          & div.offcanvas-body { padding: 0 !important;
            & div.list-group {
              & a.list-group-item {
                color: #666; font-size: 1.3em; font-weight: normal; letter-spacing: 0;
                text-transform: uppercase; padding: .1em .1em .1em 2em;
                &:hover {
                  color: #000; text-decoration: none !important; background-color: #eee;
                }
              }
            }
          }
        }
      }
      .media { position: relative;
        .media-image {
          padding-top: 20%; overflow: hidden; position: relative;
          & img {
            min-width: 100%; min-height: 100%; margin: auto;
            position: absolute; top:-100%; left:-100%; right: -100%; bottom:-100%;
          }
        }
        & a { width: 100%; height: 100%;position: absolute; top: 0; bottom: 0; z-index: 100; }
      }
    }
    & footer {
      & ul.nav { 
        & li.nav-item {
          & a.nav-link {
            &.active { font-weight: bold; }
            }
        }
      }
    }
  }
}